<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create New Meeting</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  </head>
  <body>
    <div class="container px-2 text-center">
      <div class="card">
      <div class="card-header">
        <p>Create New Meeting</p>
      </div>

       <div class="row">
         <div class="col"></div>
         <div class="col-6">
           <form th:action="@{/create/meeting}"
            method="post">

			<div class="row text-center">
              <label for="startTime">Date:</label>
              <input type="date" class="form-control" name="day">
            </div>

            <div class="row text-center">
              <label for="startTime">Start Time:</label>
              <input type="time" class="form-control" id="startTime" name="start">
            </div>
            <div class="row text-center">
              <label for="endTime">End Time:</label>
              <input type="time" class="form-control" id="endTime" name="end">
            </div>

            <div class="row">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>
            
            <div class="row">
              <label for="location" class="form-label">Start Location</label>
              <input type="text" class="form-control" id="location" name="location">
            </div>
            
            <div class="row">
              <label for="description" class="form-label">Description</label>
            </div>

            <div class="row">
              <div class="col"></div>
              <div class="col-2">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              <div class="col"></div>
            </div>
          </form>
         </div>
         <div class="col"></div>

       </div>


    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  </body>
</html>