<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preferences</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  </head>
  <body>
    <div class="container px-2">
      <div class="card">
      <div class="card-header text-center">
        <p>Preferences</p>
      </div>

       <div class="row mb-4">
         <div class="col"></div>
         <div class="col-6">
            Lunch start/end time:
           <form class="form">
              <div class="row text-center mb-4">
                <label for="startTime">Start Time:</label>
                <input type="time" class="form-control" id="startTime" name="startTime">
              </div>
              <div class="row text-center mb-4">
                <label for="endTime">End Time:</label>
                <input type="time" class="form-control" id="endTime" name="endTime">
              </div>
              <div class="row text-center mb-4">Preferenze mezzi:</div>
              <div class="row">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="foot">
                    <label class="form-check-label" for="foot">
                      Foot
                    </label>
                  </div>
              </div>  
              <div class="row">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="publicTransport">
                    <label class="form-check-label" for="publicTransport">
                      Public Transport
                    </label>
                  </div>
              </div>  
              <div class="row">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="car">
                    <label class="form-check-label" for="car">
                      Car
                    </label>
                  </div>
              </div>  
              <div class="row mb-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="bicycle">
                    <label class="form-check-label" for="bicycle">
                      Bicycle
                    </label>
                  </div>
              </div>
              <div class="row text-center">
                  <div class="col-2">
                    <button type="submit" class="btn btn-primary" id="confirm">Confirm</button>
                  </div>
              </div>  
            </form>
         </div>
         <div class="col"></div>

       </div>


    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
<script>
      $(document).ready(function(){
        $("#confirm").click(function(e){
    e.preventDefault();
    
    // Get form data
    var startTime = $("#startTime").val();
    var endTime = $("#endTime").val();
    var foot = $("#foot").is(":checked");
    var publicTransport = $("#publicTransport").is(":checked");
    var car = $("#car").is(":checked");
    
    // Create JSON object
    var data = {
      means: []
    };
    if(car == true){data.means.push("CAR");}
    if(car == true){data.means.push("PUBLIC-TRANSPORT");}
    if(car == true){data.means.push("FOOT");}
    
    // Send AJAX request
    $.ajax({
      type: "POST",
      url: "/preferences",
      data: JSON.stringify(data),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(response){
        console.log(data);
        // succs
      },
      error: function(xhr, status, error){
        // error
      }
    });
  });
});
    </script>

  </body>
</html>